h3 {
  font-family: Faris;
  background-color: indianred;
  padding: 5;
  color: aliceblue;
  font-weight: 100;
}

q {
  color: darkslateblue;
  background-color: palegoldenrod;
  font-size: 14;
}

@font-face {
  font-family: "Faris";
  src: url("Caramel.ttf");
}
