body {
    font-family: sans-serif;
}

.flex-container-column {
    display: flex;
    flex-direction: column;

    max-width: 80%;
    margin: 0 auto;
}

.flex-container-row {
    display: flex;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 30px;
    margin-top: 20px;
}

.title, .subtitle {
    color: #447f43;
    text-align: center;
}

.title {
    font-size: 52pt;
    font-weight: bold;
}

.subtitle {
    font-size: 17pt;
}

ul.nav-ul {
    list-style-type: none;
    margin: 16px 0px 0px 0px;
    padding: 0;
    overflow: hidden;
    background-color: #447f43;
}

li.nav-li a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17pt;
}

li.nav-li-about {
    float: right;
}

li.nav-li a:hover {
    background-color: #354c2d;
}

.active {
    background-color: #354c2d;
}

.footer {
    font-size: 14pt;
    color: #788276;
}

.footer a {
    float: right;
    font-weight: bold;
    color: #788276;
    text-decoration: none;
}

.content-title {
    font-size: 20pt;
}

.content {
    flex-basis: 75%;
    padding: 0px 40px 40px 40px;
}

.berita {
    text-align: justify;
    margin-bottom: 20px;
    padding-bottom: 30px;
    border-bottom: #c8cdc7 solid 1px;
}

.content-meta {
    font-size: 10pt;
    color: #788276;
}

.content-image {
    width: 50%;
    float: left;
    margin-right: 20px;
}

.content-image-post {
    width: 100%;
}

.content-paragraph {
    font-size: 15pt;
}

.readmore {
    display: block;
    float: right;
}

.sidebar {
    flex-basis: 25%;
    padding: 25px;
}

#clearstorage {
    float: right;
    font-size: 10pt;
}

.widget-title {
    color: white;
    background-color: #447f43;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.widget-body {
    border: #447f43 1px solid;
    padding: 16px;
    margin-bottom: 30px;
    color: #354c2d;
}

ul.widget-ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

li.widget-li a {
    display: block;
    padding: 0px 0px 16px 0px;
    text-decoration: none;
    color: #354c2d;
    border-bottom: #788276 1px solid;
    margin-bottom: 16px;
}

.img-responsive {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

@media screen and (max-width: 513px){
    .flex-container-row {
        display: block;
    }

    li.nav-li a {
        float: none;
        text-align: left;
    }

    li.nav-li-about {
        float: none;
    }

    .content {
        padding: 0px;
    }

    .content-image {
        width: 100%;
        float: left;
        margin: 0px 0px 20px 0px;
    }

    .content-paragraph {
        font-size: 12pt;
    }

    .content-title, .content-meta {
        text-align: center;
    }

    .readmore {
        float: none;
        text-align: center;
    }

    .sidebar {
        padding: 0px;
    }

    .footer {
        font-size: 10pt;
        text-align: center;
    }

    .footer a {
        float: none;
        display: block;
    }
}